$debugged: (
  color: (
    primary: (
      50: #eceff1,
      100: #cfd8dc,
      200: #b0bec5,
      300: #90a4ae,
      400: #78909c,
      500: #607d8b,
      600: #546e7a,
      700: #455a64,
      800: #37474f,s
      900: #263238,
      A100: #cfd8dc,
      A200: #b0bec5,
      A400: #78909c,
      A700: #455a64,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: rgba(0, 0, 0, 0.87),
        A400: white,
        A700: white,
      ),
      default: #607d8b,
      lighter: #cfd8dc,
      darker: #455a64,
      text: #607d8b,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": white,
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": rgba(0, 0, 0, 0.87),
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    accent: (
      50: #e0f7fa,
      100: #b2ebf2,
      200: #80deea,
      300: #4dd0e1,
      400: #26c6da,
      500: #00bcd4,
      600: #00acc1,
      700: #0097a7,
      800: #00838f,
      900: #006064,
      A100: #84ffff,
      A200: #18ffff,
      A400: #00e5ff,
      A700: #00b8d4,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: rgba(0, 0, 0, 0.87),
        A400: rgba(0, 0, 0, 0.87),
        A700: rgba(0, 0, 0, 0.87),
      ),
      default: #00bcd4,
      lighter: #b2ebf2,
      darker: #0097a7,
      text: #00bcd4,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": rgba(0, 0, 0, 0.87),
      "A400-contrast": rgba(0, 0, 0, 0.87),
      "A700-contrast": rgba(0, 0, 0, 0.87),
      "contrast-contrast": null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    is-dark: false,
    foreground: (
      base: black,
      divider: rgba(0, 0, 0, 0.12),
      dividers: rgba(0, 0, 0, 0.12),
      disabled: rgba(0, 0, 0, 0.38),
      disabled-button: rgba(0, 0, 0, 0.26),
      disabled-text: rgba(0, 0, 0, 0.38),
      elevation: black,
      hint-text: rgba(0, 0, 0, 0.38),
      secondary-text: rgba(0, 0, 0, 0.54),
      icon: rgba(0, 0, 0, 0.54),
      icons: rgba(0, 0, 0, 0.54),
      text: rgba(0, 0, 0, 0.87),
      slider-min: rgba(0, 0, 0, 0.87),
      slider-off: rgba(0, 0, 0, 0.26),
      slider-off-active: rgba(0, 0, 0, 0.38),
    ),
    background: (
      status-bar: #e0e0e0,
      app-bar: #f5f5f5,
      background: #fafafa,
      hover: rgba(0, 0, 0, 0.04),
      card: white,
      dialog: white,
      disabled-button: rgba(0, 0, 0, 0.12),
      raised-button: white,
      focused-button: rgba(0, 0, 0, 0.12),
      selected-button: #e0e0e0,
      selected-disabled-button: #bdbdbd,
      disabled-button-toggle: #eeeeee,
      unselected-chip: #e0e0e0,
      disabled-list-option: #eeeeee,
      tooltip: #616161,
    ),
  ),
  primary: (
    50: #eceff1,
    100: #cfd8dc,
    200: #b0bec5,
    300: #90a4ae,
    400: #78909c,
    500: #607d8b,
    600: #546e7a,
    700: #455a64,
    800: #37474f,
    900: #263238,
    A100: #cfd8dc,
    A200: #b0bec5,
    A400: #78909c,
    A700: #455a64,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: rgba(0, 0, 0, 0.87),
      A400: white,
      A700: white,
    ),
    default: #607d8b,
    lighter: #cfd8dc,
    darker: #455a64,
    text: #607d8b,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": white,
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": rgba(0, 0, 0, 0.87),
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  accent: (
    50: #e0f7fa,
    100: #b2ebf2,
    200: #80deea,
    300: #4dd0e1,
    400: #26c6da,
    500: #00bcd4,
    600: #00acc1,
    700: #0097a7,
    800: #00838f,
    900: #006064,
    A100: #84ffff,
    A200: #18ffff,
    A400: #00e5ff,
    A700: #00b8d4,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: rgba(0, 0, 0, 0.87),
      A400: rgba(0, 0, 0, 0.87),
      A700: rgba(0, 0, 0, 0.87),
    ),
    default: #00bcd4,
    lighter: #b2ebf2,
    darker: #0097a7,
    text: #00bcd4,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": rgba(0, 0, 0, 0.87),
    "A400-contrast": rgba(0, 0, 0, 0.87),
    "A700-contrast": rgba(0, 0, 0, 0.87),
    "contrast-contrast": null,
  ),
  warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #f44336,
    lighter: #ffcdd2,
    darker: #d32f2f,
    text: #f44336,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  is-dark: false,
  foreground: (
    base: black,
    divider: rgba(0, 0, 0, 0.12),
    dividers: rgba(0, 0, 0, 0.12),
    disabled: rgba(0, 0, 0, 0.38),
    disabled-button: rgba(0, 0, 0, 0.26),
    disabled-text: rgba(0, 0, 0, 0.38),
    elevation: black,
    hint-text: rgba(0, 0, 0, 0.38),
    secondary-text: rgba(0, 0, 0, 0.54),
    icon: rgba(0, 0, 0, 0.54),
    icons: rgba(0, 0, 0, 0.54),
    text: rgba(0, 0, 0, 0.87),
    slider-min: rgba(0, 0, 0, 0.87),
    slider-off: rgba(0, 0, 0, 0.26),
    slider-off-active: rgba(0, 0, 0, 0.38),
  ),
  background: (
    status-bar: #e0e0e0,
    app-bar: #f5f5f5,
    background: #fafafa,
    hover: rgba(0, 0, 0, 0.04),
    card: white,
    dialog: white,
    disabled-button: rgba(0, 0, 0, 0.12),
    raised-button: white,
    focused-button: rgba(0, 0, 0, 0.12),
    selected-button: #e0e0e0,
    selected-disabled-button: #bdbdbd,
    disabled-button-toggle: #eeeeee,
    unselected-chip: #e0e0e0,
    disabled-list-option: #eeeeee,
    tooltip: #616161,
  ),
);
