<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>knooppuntnet</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<main class="content">
  <!--  <app-banner type="info" message="This component will get own theme"></app-banner>-->
  <section class="sort-area">
    <mat-form-field class="drop-down">
      <mat-label>Choose a theme</mat-label>
      <mat-select (selectionChange)="setTheme($event)">
        <mat-option value="dark">Dark</mat-option>
        <mat-option value="light">Light</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent">Sort</button>
  </section>
  <section class="card-area">
    <mat-card appearance="outlined" class="card">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-divider/>
    <p>
      <a href="https://knooppuntnet.nl">knooppuntnet</a>
    </p>
    <p>
      <a mat-button color="primary" href="https://knooppuntnet.nl">knooppuntnet (primary)</a>
    </p>
    <p>
      <a mat-button href="https://knooppuntnet.nl">knooppuntnet (default)</a>
    </p>
    <p>
      <a mat-button color="accent" href="https://knooppuntnet.nl">knooppuntnet (accent)</a>
    </p>
    <p>
      <a mat-button color="warn" href="https://knooppuntnet.nl">knooppuntnet (warn)</a>
    </p>
    <h1>H1 header</h1>
    <h2>H2 header</h2>
    <h3>H3 header</h3>
    <h4>H4 header</h4>
    <h5>H5 header</h5>
    <h6>H6 header</h6>
    <div class="mat-h1">H1 div</div>
    <div class="mat-h2">H2 div</div>
    <p>regular text paragraph</p>
    <div>regular div text</div>
  </section>
</main>
