.content {
  padding: 20px;
  box-sizing: border-box;
}
.sort-area {
  margin-bottom: 20px;
}
.card {
  max-width: 220px;
}
.drop-down {
  margin: 15px 15px 0 0;
}
.spacer {
  flex: 1 1 auto;
}
.logo {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
